/* Calibri-Bold */
@font-face {
	font-family: 'Calibri-Bold';
	src: url('../fonts/Calibri-Bold.eot');
	src: url('../fonts/Calibri-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Calibri-Bold.woff2') format('woff2'),
	url('../fonts/Calibri-Bold.woff') format('woff'),
	url('../fonts/Calibri-Bold.ttf') format('truetype'),
	url('../fonts/Calibri-Bold.svg#Calibri-Bold') format('svg');
	font-weight: normal;
	font-style: normal;
	text-rendering: optimizeLegibility;
}

/* Calibri-BoldItalic */
@font-face {
	font-family: 'Calibri-BoldItalic';
	src: url('../fonts/Calibri-BoldItalic.eot');
	src: url('../fonts/Calibri-BoldItalic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Calibri-BoldItalic.woff2') format('woff2'),
	url('../fonts/Calibri-BoldItalic.woff') format('woff'),
	url('../fonts/Calibri-BoldItalic.ttf') format('truetype'),
	url('../fonts/Calibri-BoldItalic.svg#Calibri-BoldItalic') format('svg');
	font-weight: normal;
	font-style: normal;
	text-rendering: optimizeLegibility;
}

/* Calibri-LightItalic */
@font-face {
	font-family: 'Calibri-LightItalic';
	src: url('../fonts/Calibri-LightItalic.eot');
	src: url('../fonts/Calibri-LightItalic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Calibri-LightItalic.woff2') format('woff2'),
	url('../fonts/Calibri-LightItalic.woff') format('woff'),
	url('../fonts/Calibri-LightItalic.ttf') format('truetype'),
	url('../fonts/Calibri-LightItalic.svg#Calibri-LightItalic') format('svg');
	font-weight: normal;
	font-style: normal;
	text-rendering: optimizeLegibility;
}

/* Calibri-Regular */
@font-face {
	font-family: 'Calibri-Regular';
	src: url('../fonts/Calibri.eot');
	src: url('../fonts/Calibri.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Calibri.woff2') format('woff2'),
	url('../fonts/Calibri.woff') format('woff'),
	url('../fonts/Calibri.ttf') format('truetype'),
	url('../fonts/Calibri.svg#Calibri') format('svg');
	font-weight: normal;
	font-style: normal;
	text-rendering: optimizeLegibility;
}

/* Calibri-Italic */
@font-face {
	font-family: 'Calibri-Italic';
	src: url('../fonts/Calibri-Italic.eot');
	src: url('../fonts/Calibri-Italic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Calibri-Italic.woff2') format('woff2'),
	url('../fonts/Calibri-Italic.woff') format('woff'),
	url('../fonts/Calibri-Italic.ttf') format('truetype'),
	url('../fonts/Calibri-Italic.svg#Calibri-Italic') format('svg');
	font-weight: normal;
	font-style: normal;
	text-rendering: optimizeLegibility;
}

/* Calibri-Light */
@font-face {
	font-family: 'Calibri-Light';
	src: url('../fonts/Calibri-Light.eot');
	src: url('../fonts/Calibri-Light.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Calibri-Light.woff2') format('woff2'),
	url('../fonts/Calibri-Light.woff') format('woff'),
	url('../fonts/Calibri-Light.ttf') format('truetype'),
	url('../fonts/Calibri-Light.svg#Calibri-Light') format('svg');
	font-weight: normal;
	font-style: normal;
	text-rendering: optimizeLegibility;
}