@media only screen and (max-width: 991px) {
	.search_page .list article figure {margin-bottom: 15px;}
	.partners ul {margin: 0 0 50px;}
	.licenses figure {margin-bottom: 30px; text-align: center;}
	.contact_three_block .block {margin: 10px 0;}
	.contact_three_block span {width: 48px;height: 48px;font-size: 20px;line-height: 40px;}
	.contact_three_block .text {left: 65px;}
	.contact_info nav.social a {width: 22px; height: 22px; margin-right: 10px; font-size: 12px; line-height: 22px;}
	.similar_news {margin-top: 30px;}
	.leader_appeal figure {margin-bottom: 20px; text-align: center;}
	.menu>ul>li {margin-right: 8px;}
	.menu>ul>li>a {font-size: 12px;}
	.slider,#slider .carousel-inner, #slider .carousel-inner .item, #slider .carousel-inner .container, #slider .carousel-inner .col-md-4, #slider .carousel-inner .col-md-8 {height: auto!important;}
	.slider_nav {display: none;}
	#slider .v-center, #slider .caption, .slider_application {position: relative; top: auto; transform: translateY(0);}
	.slider_application	{width: 100%; margin: 0; padding: 0 15px;}
	#slider .body {position: relative;}
	#slider .caption {padding: 20px 0; text-align: center;}
	#slider .caption h1 {font-size: 40px;}
	#slider .caption h4,#slider .caption h1,#slider .caption a {color: #616161;}
	#chartdiv,#chartdiv1 {height: 300px;}
	.footer_menu ul {min-height: 135px;}
	.footer_link {float: left; margin: 25px 0;}
	.error404 h1,.text_cover h1 {font-size: 20px;}
	.text_cover p {font-size: 14px; line-height: 20px;}
	.breadcrumbs .pull-right {width: 100%; margin-top: 10px;}
	.pi_table thead td {min-width: auto;}
	.partners_photo {margin-top: 25px; text-align: center;}
	.pi_text_block .text,.chart_block_small {margin-bottom: 30px;}
	.pi_cedvel {padding: 0;}
	.m-margin-top-30 {margin-top: 30px;}
}

@media only screen and (max-width: 767px) {
	.data_table table thead,.vtable table thead,.pi_table thead {display: none;}
	.data_table table tr{display: block;padding: 0}
	.vtable table tr,.pi_table tr {display: block;padding: 20px 0}
	.data_table table tr td,.vtable table tr td,.pi_table tr td,.pi_table2 tr td {display: block;}
	.data_table table tr td:before,.vtable table tr td:before,.pi_table tr td:before,.pi_table2 tr td:before {content: attr(data-title);display: block;color: #000;font: 14px/14px Calibri-Bold, san-serif;margin-bottom: 5px; text-transform: uppercase;}
	.pi_table tr td:before {font-size: 20px; color: #0f529c;}
	.pi_table tr td,.data_table tr td,.pi_table2 tr td {text-align: center;}
	.pi_table tbody td strong {font: 14px/27px Calibri, san-serif!important; color: #3c3c3c;}
	.data_table tr td,.pi_table2 tr td {padding: 15px 10px!important;}
	.topbar .pull-right {width: 100%; text-align: center;}
	.header_valyuta {float: none; display: inline-block;}
	.chat_btn {margin: 6px 0 0;}
	.chat_btn span {width: 38px; font-size: 0px;}
	.chat_btn span i {font-size: 15px; line-height: 35px; margin-right: 0;}
	#slider .caption h1 {font-size: 20px;}
	.main_services {padding: 40px 0 80px;}
	.main_news {padding: 40px 0;}
	.text_cover {text-align: center; padding: 50px 20px;}
	.text_cover p br {display: none;}
	.pi_list h1 {font-size: 20px; text-align: center;}
	.ta_block article {margin-bottom: 30px;}
	.count_block {padding-bottom: 25px;}
	.pi_tab h1 {font-size: 20px;}
	.pi_table2 thead {display: none;}
	.pi_table2 tr {display: block;}
	.pi_table2 tbody td.first_td {display: block;width: 100%;}
	.chart_other .blockquote {margin-top: 35px;}
	.footer_bottom p {width:100%; text-align: center;}
}

@media only screen and (max-width: 480px) {
	.hidden-mob {display: none;}
	.col-mob-12 {width: 100%;}
	.col-mob-6 {width: 50%;}
	.news_list article .body {padding: 20px;}
	.news_list article .body span.date{position: relative; left: auto; bottom: auto; display: block; margin-top: 20px;}
	.about_blocks article i:after {margin: 0 auto 25px;}
	.about_blocks article .text {text-align: center;}
	.pdf_list article {padding: 13px 25px; text-align: center;}
	.pdf_list article span.pdf:before {display: none;}
	.pdf_list article span.pdf {position: relative; top: 0; transform: translateY(0); border-top: 1px solid #e0e0e0; width: 100%; margin-top: 15px; padding-top: 10px;}
	.contact_form h1 {font-size: 30px;}
	.header_valyuta span.txt {display: none;}
	.footer_inner {padding: 35px 0;}
	.main_tab_nav a {width: 100%;margin-bottom: 20px;}
	.pi_detail img {margin-bottom: 20px;}
	.exam .answer label {margin: 10px 0;}
	.exam .answer h2 {font-size: 20px; text-align: center;}
	.istiqraz_list h2 {margin-top: 20px;}
	.pi_tab_nav a {width:50%}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.main_tab_nav a.active {background: #f4f6f9;}
	.mobile_menu {display: none!important;}
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.menu>ul>li {margin-right: 15px;}
	.menu>ul>li>a {font-size: 15px;}
	.application_form h1 {font-size: 23px;}
	#slider .caption h1 {font-size: 40px;}
	.slider_application {width: 295px; margin-right: calc((100vw - 964px) / 2);}
	.mobile_menu {display: none!important;}

}

@media only screen and (min-width: 1200px) {
	.mobile_menu {display: none!important;}
}

@media screen and (max-height: 960px) {
	.slider {height: 634px;}
}