html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
html, body {height: 100%;}

body {
	background: #f4f6f8;
	font-size: 100%;
	font-family: Arial, Tahoma, Verdana, san-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a, a:hover , a:active , a:focus {
  text-decoration: none;
  color: #0f529c;
}

ul {
	padding-left: 0;
	list-style-position: inside;
}

* {
	outline: 0;
}

img {
	max-width: 100%;
}

strong {
	font-family: Calibri-Bold, san-serif;
}

.bgwhite {
	background: #fff;
}

.pfw {
	position: relative;
	float: left;
	width: 100%;
}

.noscroll {overflow: hidden;}
.padding-0 {padding: 0!important;}
.padding-30 {padding: 40px 0;}
.padding-40 {padding: 40px 0;}
.padding-top-0 {padding-top: 0!important;}
.padding-top-45 {padding-top: 45px;}
.padding-top-50 {padding-top: 50px;}
.padding-top-120 {padding-top: 120px;}
.padding-bottom-30 {padding-bottom: 30px;}
.padding-bottom-50 {padding-bottom: 50px;}
.padding-bottom-70 {padding-bottom: 70px;}
.padding-left-0 {padding-left: 0;}
.margin-bottom-30 {margin-bottom: 30px;}
.margin-bottom-60 {margin-bottom: 60px!important;}
.margin-top-0 {margin-top: 0!important;}
.margin-top-20 {margin-top: 20px;}
.margin-top-30 {margin-top: 30px;}
.margin-top-35 {margin-top: 35px;}
.margin-top-50 {margin-top: 50px;}
.margin-top-60 {margin-top: 60px;}
.margin-top-75 {margin-top: 75px;}
.margin-top-100 {margin-top: 100px;}

.container {
	position: relative;
}

/* SearchBlock Begin */
.search_block {
	display: none;
	padding: 15px 0;
}

.search_block input[type="text"] {
	display: block;
	width: 100%;
	height: 30px;
	font: 30px/30px Calibri-Regular, san-serif;
	color: #616161;
	border: none;
	background: none;
}
/* SearchBlock End */

/* MobileMenu Begin */
.mobile_menu {
	display: none;
	position: absolute;
	top: 134px;
	left: 0;
	right: 0;
	z-index: 9999;
	height: calc(100vh - 65px);
	padding-bottom: 30px;
	overflow-y: auto;
	border-top: 1px solid #dfdfdf;
	background: #fff;
}

.mobile_menu>ul>li a {
	position: relative;
	display: block;
	height: 42px;
	padding: 0 0 0 25px;
	font: 14px/40px Calibri-Bold, san-serif;
	color: #616161;
	text-transform: uppercase;
	letter-spacing: 0.2px;
	border-bottom: 1px solid #dfdfdf;
}

.mobile_menu>ul>li.sub>a:after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	width: 46px;
	height: 42px;
	background: url(../images/icon-right-arrow.png?v=1) no-repeat center;
	background-size: 13px;
	border-left: 1px solid #dfdfdf;
}

.mobile_menu ul li.drop>a:after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	width: 46px;
	height: 42px;
	background: url(../images/select-arrow.png?v=1) no-repeat center;
	background-size: 13px;
	border-left: 1px solid #dfdfdf;
}

.mobile_menu>ul>li>ul {
	background: #fff;
	position: absolute;
	top: 0;
	left: -40px;
	bottom: 0;
	width: 100%;
	z-index: 40;
	visibility: hidden;
	opacity: 0;
	transition: 500ms ease;
}

.mobile_menu>ul>li>ul>li>ul {
	display: none;
	position: relative;
	top: auto;
	left: auto;
	bottom: auto;
	opacity: 1;
	visibility: visible;
	border-bottom: 1px solid #dfdfdf;
}

.mobile_menu>ul>li>ul>li>ul a {
	height: 30px;
	padding-left: 40px;
	font: 14px/30px Calibri-Regular, san-serif;
	border: none;
}

.mobile_menu>ul>li ul.show {
	visibility: visible;
	opacity: 1;
	left: 0;
}

.mobile_menu>ul>li ul li.back a {
	font: 14px/40px Calibri-Regular, san-serif;
	color: #d0d0d0;
	text-align: center;
}

.mobile_menu>ul>li ul li.back a:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 46px;
	height: 42px;
	background: url(../images/icon-right-arrow.png?v=1) no-repeat center;
	background-size: 13px;
	border-left: 1px solid #dfdfdf;
	transform: rotate(-180deg);
}

.mobile_menu .bottom {
	margin-top: 40px;
	padding-top: 50px;
	text-align: center;
	background: url(../images/9119.png?v=1) no-repeat center top;
}

.m_lang {
	display: inline-block;
	margin-top: 15px;
}

.m_lang a {
	float: left;
	padding-right: 10px;
	margin-right: 10px;
	font: 15px/15px Calibri-Bold, san-serif;
	color: #616161;
	letter-spacing: 3px;
	border-right: 1px solid #616161;
}

.m_lang a:last-child {
	margin: 0;
	padding: 0;
	border: 0;
}

.m_lang a.active {color: #407cb9;}
/* MobileMenu End */

/* Header Begin */
#header {
	background: #fff;
}

.topbar {
	height: 42px;
	padding-top: 10px;
	background: #0f529c;
}

.social a {
	float: left;
	width: 22px;
	height: 22px;
	margin: 0 10px 0 0;
	font-size: 14px;
	line-height: 22px;
	color: #0f529c;
	text-align: center;
	background-color: #fff;
	border-radius: 50%;
	opacity: 1;
	transition: opacity 500ms ease;
}

.social a:hover {opacity: 0.7;}

.header_valyuta {
	float: left;
	height: 21px;
	color: #fff;
	overflow: hidden;
}

.header_valyuta span.txt {
	float: left;
	margin-right: 15px;
	color: #91e5ff;
}

.header_valyuta p {margin: 0;}

.header_valyuta span {
	display: block;
	font: 16px/20px Calibri-Regular, san-serif;
}

.header_valyuta strong {
	font: 16px/20px Calibri-Bold, san-serif;
	display: block;
}

.header_valyuta span em {
	display: inline-block;
	margin: 0 2px;
	font: 12px/16px Calibri-Regular, san-serif;
}

.cur_col {
	position: relative;
	float: left;
	top: -20px;
}

.c1 {margin-right: 5px;}

.c1.animate {
    -webkit-transition: all .3s cubic-bezier(1, 0, 0, 1);
    -moz-transition: all .3s cubic-bezier(1, 0, 0, 1);
    -o-transition: all .3s cubic-bezier(1, 0, 0, 1);
    transition: all .3s cubic-bezier(1, 0, 0, 1)
}

.c2.animate {
    -webkit-transition: all .5s cubic-bezier(1, 0, 0, 1);
    -moz-transition: all .5s cubic-bezier(1, 0, 0, 1);
    -o-transition: all .5s cubic-bezier(1, 0, 0, 1);
    transition: all .5s cubic-bezier(1, 0, 0, 1)
}

.c3.animate {
    -webkit-transition: all .7s cubic-bezier(1, 0, 0, 1);
    -moz-transition: all .7s cubic-bezier(1, 0, 0, 1);
    -o-transition: all .7s cubic-bezier(1, 0, 0, 1);
    transition: all .7s cubic-bezier(1, 0, 0, 1)
}

.topbar .brd {
	float: left;
	width: 1px;
	height: 18px;
	margin: 0 18px;
	background: #fff;
	opacity: 0.4;
	margin-top: 2px;
}

.topbar .search_btn {
	float: left;
	display: block;
	width: 15px;
	height: 15px;
	margin-top: 4px;
	text-indent: -99999px;
	background: url(../images/icon-search-btn.png?v=1) no-repeat center;
	background-size: 15px 15px;
	border: none;
}

.header_inner {
	position: relative;
	padding: 24px 0;
	z-index: 20;
}

.logo {
	margin: 5px 0 0;
}

.lang {
	float: left;
	margin: 16px 0 0;
}

.lang a {
	float: left;
	margin-right: 12px;
	font: 15px/16px Calibri-Regular, san-serif;
	color: #0f529c;
	text-decoration: underline;
}

.lang a:hover {text-decoration: none;}

.chat_btn {
	float: left;
	margin: 6px 52px 0 22px;
}

.chat_btn span {
	float: left;
	display: block;
	width: 122px;
	height: 38px;
	font: 15px/38px Calibri-Regular, san-serif;
	color: #0f529c;
	text-align: center;
	cursor: pointer;
	background: #f4f4f4;
	border-radius: 7px;
	transition: background 500ms ease
}

.chat_btn span:hover,
.menu_btn.closed,
.menu_btn:hover,
.search_m_btn:hover {background: #dbdbdb;}

.chat_btn span i {
	position: relative;
	top: 1px;
	margin-right: 10px;
}

.search_m_btn,
.menu_btn {
	float: left;
	width: 38px;
	height: 38px;
	margin-top: 6px;
	margin-left: 10px;
	padding: 0;
	color: #0f529c;
	font-size: 15px;
	background: #f4f4f4;
	border: 0;
	border-radius: 7px;
	transition: background 500ms ease
}

.search_m_btn {
	margin: 6px 10px 0 0;
}

.header_inner .call9119 {
	float: left;
	display: block;
	width: 103px;
	height: 48px;
	background: url(../images/9119.png?v=1) no-repeat;
	text-indent: -9999px;
}

.menu {
	margin: 0 15px;
	padding: 25px 0 30px;
	border-top: 1px solid #e6e6e6;
}

.menu:after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 24px;
	bottom: 0;
	right: 15px;
	background: url(../images/header-bck.png?v=1) no-repeat left top -33px;
}

.menu>ul {
	position: relative;
	z-index: 10;
}

.menu>ul>li {
	position: relative;
	float: left;
	margin-right: 40px;
}

.menu>ul>li:last-child {margin-right: 0;}

.menu>ul>li>a {
	font: 16px/16px Calibri-Bold, san-serif;
	color: #66707f;
	text-transform: uppercase;
	transition: color 500ms ease;
}

.menu ul li a:hover {color: #1e8bcb;}
.menu>ul>li.active>a {color: #1e8bcb;}

.menu>ul>li ul {
	position: absolute;
	top: 100%;
	left: 0px;
	z-index: 100;
	width: 190px;
	padding: 22px 0 0;
	margin: 0 0 0 30px;
	visibility: hidden;
	opacity: 0;
	transition: all .3s ease-in-out;
}

.menu>ul>li ul li {
	position: relative;
	background: #fff;
}

.menu>ul>li ul li:last-child a {padding-bottom: 15px;}

.menu>ul>li ul li a {
	display: block;
	padding: 6px 15px;
	font: 15px/15px Calibri-Regular, san-serif;
	color: #66707f;
}

.menu>ul>li ul li a i {
	margin-left: 10px;
}

.menu>ul>li:hover>ul {
	visibility: visible;
	opacity: 1;
	margin: 0px;
	width: 220px;
	white-space: nowrap;
}

.menu>ul>li ul ul {
	width: 240px!important;
	left: 100%;
	top: 0;
	padding: 0;
	border-left: 1px solid #66707f;
}

.menu>ul>li ul li:hover ul {
	visibility: visible;
	opacity: 1;
	margin: 0px;
	white-space: nowrap;
}
/* Header End */

/* Slider Begin */
.slider {
	position: relative;
	overflow: hidden;
	height: calc(100vh - 264px);
}

#slider {
	position: relative;
	height: 100%;
}

#slider .carousel-inner,
#slider .carousel-inner .item,
#slider .carousel-inner .container,
#slider .carousel-inner .col-md-4,
#slider .carousel-inner .col-md-8 {
	height: 100%;
}

#slider .item {
	transition-property: opacity;
}

#slider .item,
#slider .active.left,
#slider .active.right {
	opacity: 0;
}

#slider .active,
#slider .next.left,
#slider .prev.right {
	opacity: 1;
}

#slider .carousel-inner .item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#slider .body {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
}

.slider_application {
	position: absolute;
	top: 50%;
	right: 0;
	margin-right: calc((100vw - 1164px) / 2);
	width: 360px;
	z-index: 5;
	transform: translateY(-50%);
}

#slider .v-center,
#slider .caption {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	z-index: 5;
	transform: translateY(-50%);
}

#slider .caption h4 {
	margin: 0;
	font: 16px/16px Calibri-Light, san-serif;
	color: #fff;
	letter-spacing: 2px;
}

#slider .caption h1 {
	margin: 16px 0 25px;
	padding-right: 30px;
	font: 56px/1 Calibri-Bold, san-serif;
	color: #fff;
}

#slider .caption a {
	font: 15px/15px Calibri-Regular, san-serif;
	color: #fff;
	letter-spacing: 0.9px;
	text-decoration: underline;
}

#slider .caption a:hover {
	text-decoration: none;
}

.slider .application_form {
	background: rgba(255,255,255,0.8);
	border-radius: 5px;
}

.slider_nav {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 150;
	height: 148px;
	padding: 37px 0 0;
	background: url(../images/shadow_bg.png?v=1) no-repeat bottom center;
}

.slider_nav li {
	float: left;
	width: calc((100% - 60px) / 3);
	height: 87px;
	margin-right: 30px;
	padding: 5px 10px 0 0;
	border-right: 1px solid #fff;
}

.slider_nav li:last-child {
	margin-right: 0;
	border-right: 0;
}

.slider_nav li h2 {
	margin: 0;
	font: 16px/1.1 Calibri-Bold, san-serif;
	color: #fff;
	letter-spacing: 2.3px;
	text-transform: uppercase;
}

.slider_nav li p {
	margin: 5px 0 0;
	font: 16px/18px Calibri-Regular, san-serif;
	color: #fff;
}
/* Slider End */

/* Valyuta Begin */
.valyuta {
	height: 60px;
	background: #2f3e46;
}

.valyuta .item {
	position: relative;
	height: 60px;
}

.valyuta .item:after {
	content: "";
	display: block;
	width: 5px;
	height: 5px;
	opacity: 0.4;
	background-color: #cce3ee;
	position: absolute;
	top: 50%;
	right: -10px;
	z-index: 2;
	transform: translateY(-50%);
	border-radius: 50%;
}

.valyuta span {
	float: left;
	font: 14px/60px Calibri-Bold, san-serif;
	color: #fff;
	margin-right: 30px;
	letter-spacing: 2px;
}

.valyuta span:last-child {margin-right: 0;}

.valyuta span.up {color: #0d9c4e;}
.valyuta span.down {color: #f94541;}
/* Valyuta End */

/* MainTab Begin */
.main_tab {
	padding: 55px 0 70px;
	background: #fff;
}

.main_tab_nav {
	margin-top: 45px;
}

.main_tab_nav a {
	position: relative;
	float: left;
	width: 25%;
	height: 40px;
	font: 14px/40px Calibri-Regular, san-serif;
	color: #3b4c6c;
	text-align: center;
	background-repeat: no-repeat;
	background-position: right 15px center;
	border-top: 1px solid #d8dee7;
	border-bottom: 3px solid #008af1;
	transition: 500ms ease;
}

.main_tab_nav a.active:before {
	content: "";
	display: block;
	width: 100%;
	height: 3px;
	position: absolute;
	top: 0;
	left: 0;
	background: #005fb2;
}

.main_tab_nav a.active,
.main_tab_nav a:hover {
	background-color: #f4f6f9;
	border-bottom-color: #f4f6f9;
}

.main_tab_nav a.active {
	background-image: url(../images/icon-tab-arrow.png?v=1);
}

.main_tab_head {
	text-align: center;
}

.main_tab_head h1 {
	margin: 0;
	font: 26px/1.1 Calibri-Bold, san-serif;
	color: #3b4c6c;
}

.main_tab_head p {
	margin: 15px 0 0;
	font: 14px/18px Calibri-Regular, san-serif;
	color: #3b4c6c;
}

.main_tab_panel {
	display: none;
}

.main_tab_panel:first-child {
	display: block;
}

.main_tab_content {
	margin-top: 30px;
}

.tab_table {
	width: 100%;
}

.tab_table th {
	padding-bottom: 25px;
	font: 12px/12px Calibri-Regular, san-serif;
	color: #c0c0c0;
}

.tab_table tbody tr:last-child {border: none;}
.tab_table tbody tr {
	border-bottom: 1px solid #ededed;
}

.tab_table td {
	padding: 10px 0;
	font: 19px/19px Calibri-Regular, san-serif;
	color: #4f6a92;
}

.tab_table td strong {
	margin-right: 10px;
}

.tab_table td.up {color: #0ea600;}
.tab_table td.down {color: #ff0007;}

.tab_list {
	padding: 20px 0 0;
}

.tab_list h3 {
	margin: 0 0 30px;
	font: 24px/1.1 Calibri-Bold, san-serif;
	color: #3b4c6c;
}

.tab_list ul {
}

.tab_list ul li {
	margin-bottom: 20px;
	padding-left: 15px;
	font: 14px/18px Calibri-Regular, san-serif;
	color: #383838;
	background: url(../images/icon-list.png?v=1) no-repeat left center;
}

/* Footer Begin */
.footer_inner {
	padding: 85px 0 50px;
	background: #0f529c url(../images/footer-bck.png?v=1) no-repeat center;
	background-size: 100%;
}

.footer_about {
	margin-top: 23px;
	font: 14px/1.4 Calibri-Regular, san-serif;
	color: #fff;
}

.footer_about p {margin: 0;}

.footer_inner .social {
	margin-top: 24px;
}

.footer_menu {
	position: relative;
}

.footer_menu:before {
	content: "";
	display: block;
	width: 100%;
	height: 3px;
	margin-bottom: 38px;
	background-image: linear-gradient(to right, #4990e2, #0f529c);
}

.footer_menu h3 {
	margin: 0;
	font: 14px/1.1 Calibri-Bold, san-serif;
	color: #fff;
	text-transform: uppercase;
}

.footer_menu ul {
	margin-top: 30px;
}

.footer_menu ul li {margin-bottom: 15px;}
.footer_menu ul li:last-child {margin-bottom: 0}

.footer_menu ul li a {
	font: 14px/14px Calibri-Regular, san-serif;
	color: #a1ceff;
	transition: color 500ms ease;
}

.footer_menu ul li a:hover {color: #fff;}

.footer_bottom {
	position: relative;
	padding: 30px 0;
}

.footer_bottom p {
	margin: 0;
	font: 13px/1.1 Calibri-Regular, san-serif;
	color: #666;
}

.footer_link {
	margin-top: 25px;
}

.footer_link a {
	float: left;
	margin-right: 25px;
	font: 14px/14px Calibri-Regular, san-serif;
	color: #fff;
	transition: color 500ms ease;
}

.footer_link a:hover {color: #91e5ff;}

.btn_online_chat {
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	display: block;
	width: 214px;
	height: 48px;
	padding: 14px 0 0 15px;
	font: 16px/16px Calibri-Bold, san-serif;
	color: #fff;
	letter-spacing: 1px;
	background: url(../images/onlinechat-bg.png?v=1) no-repeat;
	border: none;
	z-index: 999;
}
/* Footer End */

/* Breadcrumbs Begin */
.breadcrumbs {
	padding: 18px 0;
}

.breadcrumbs a,
.breadcrumbs span {
	float: left;
	display: block;
	font: 12px/12px Calibri-Regular, san-serif;
	color: #5a5a5a;
}

.breadcrumbs span.arrow {
	margin: 0 6px;
}

.breadcrumbs a {
	font-family: Calibri-Bold, san-serif;
	color: #1e8bcb;
}

.breadcrumbs a:hover {opacity: 0.8;}
/* Breadcrumbs End */

/* Contact Begin */
.contact_map {
	border-top: 1px solid #fff;
}

.contact_three_block {
	padding: 30px 0;
	background: #fff;
}

.contact_three_block .block {
	position: relative;
	float: left;
	width: 100%;
	height: 100%;
}

.contact_three_block span {
	float: left;
	width: 77px;
	height: 77px;
	font-size: 40px;
	line-height: 77px;
	text-align: center;
	color: #1f8ecf;
	border: 3px solid #1f8ecf;
	border-radius: 50%;
}

.contact_three_block .text {
	position: absolute;
	top: 50%;
	left: 124px;
	right: 15px;
	transform: translateY(-50%);
}

.contact_three_block .text h4 {
	margin: 0;
	font: 16px Calibri-Regular, san-serif;
	color: #36474f;
}

.contact_three_block .text p {
	margin: 0;
	font: 20px Calibri-Light, san-serif;
	color: #36474f;
}

.contact_tab {
	padding: 55px 0 85px;
}

.contact_tab__nav {
	border-bottom: 1px solid #ddd;
}

.contact_tab__nav a {
	position: relative;
	float: left;
	display: block;
	height: 40px;
	z-index: 2;
	bottom: -1px;
	font: 14px/35px Calibri-Regular, san-serif;
	color: #adadad;
	padding: 0 12px;
	border: 1px solid transparent;
	border-bottom: 5px solid transparent;
	border-radius: 3px 3px 0 0;
}

.contact_tab__nav a.active {
	color: #3b4c6c;
	border-color: #ddd;
	border-bottom-color: #fff;
}

.tab_content {
	padding-top: 35px;
}

.tab_block {display: none;}
.tab_block:first-child {display: block;}

.contact_form h1 {
	margin: 0;
	font: 40px/1.1 Calibri-Regular, san-serif;
	color: #3b4c6c;
}

.contact_form h1 strong {
	font-weight: normal;
	font-family: Calibri-Bold, san-serif;
}

.contact_form form {
	display: block;
	margin-top: 23px;
}

.contact_form input[type="text"],
.contact_form textarea {
	display: block;
	width: 100%;
	height: 44px;
	margin-bottom: 15px;
	padding: 0 15px;
	font: 14px Calibri-Regular, san-serif;
	color: #acacac;
	background-color: #fff;
	box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.15);
	border:1px solid  #d7d9db;
	border-radius: 5px;
}

.contact_form textarea {
	height: 125px;
	padding: 10px 15px;
	resize: none;
}

.contact_form button[type="submit"] {
	float: right;
	display: block;
	width: 198px;
	height: 40px;
	margin-top: 5px;
	font: 16px Calibri-Regular, san-serif;
	color: #fff;
	letter-spacing: 0.3px;
	background: #1e8bcb;
	border: none;
	border-radius: 5px;
	transition: background 500ms ease;
}

.contact_form button[type="submit"]:hover {background: #1b7bb3;}

.contact_info {
	padding-top: 60px;
}

.contact_info .block {
	margin-bottom: 26px;
}

.contact_info h4 {
	margin: 0 0 15px;
	font: 30px/1.1 Calibri-Bold, san-serif;
	color: #3b4c6c;
}

.contact_info p {
	margin: 0;
	font: 14px/17px Calibri-Regular, san-serif;
	color: #acacac;
}

.contact_info nav.social a {
	width: 55px;
	height: 55px;
	margin-right: 25px;
	font-size: 24px;
	line-height: 55px;
	background: #1e8bcb;
	color: #fff;
}

.contact_office h2 {
	margin: 0 0 15px;
	font: 30px/1.1 Calibri-Bold, san-serif;
	color: #3b4c6c;
}

.contact_office div {
	margin-top: 15px;
}

.contact_office p {
	margin: 0;
	font: 14px/17px Calibri-Regular, san-serif;
	color: #acacac;
}
/* Contact End */

/* News Begin */
.news h1 {
	margin: 0 0 16px;
	font: 40px/1.1 Calibri-Bold, san-serif;
	color: #3b4c6c;
}

.date_filter .year span {
	float: left;
	margin-right: 20px;
	font: 15px/19px Calibri-Regular, san-serif;
	color: #acacac;
}

.date_filter .year select {
	float: left;
	width: 57px;
	height: 20px;
	padding: 0 0 0 7px;
	font: 12px Calibri-Regular, san-serif;
	color: #a2a2a2;
	background: #fff url(../images/select-arrow.png?v=1) no-repeat right 10px center;
	background-size: 8px;
	box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.15);
	border: 1px solid #d7d9db;
	border-radius: 3px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.date_filter .month {
	margin-top: 12px;
}

.date_filter .month a {
	float: left;
	margin: 0 20px 10px 0;
	font: 12px/12px Calibri-Regular, san-serif;
	color: #3b4c6c;
}

.date_filter .month a:hover {
	text-decoration: underline;
}

.news_list article {
	position: relative;
	margin: 20px 0 26px;
	background: #fff;
	box-shadow: none;
	transition: box-shadow 500ms ease;
	border: 1px solid #f8f8f8;
	border-radius: 5px 5px 0 0;
}

.news_list article:hover {
	box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.23);
}

.news_list article figure {
	overflow: hidden;
	border-radius: 5px 5px 0 0;
}

.news_list article .body {
	position: relative;
	padding: 30px 18px 65px;
}

.news_list article .body h2 {
	margin: 0;
	font: 14px/19px Calibri-Regular, san-serif;
	color: #acacac;
}

.news_list article .body span.date {
	position: absolute;
	bottom: 12px;
	left: 18px;
	z-index: 4;
	font: 14px/14px Calibri-Regular, san-serif;
	color: #c2c2c2;
}

.news_detail {
	padding: 0 0 40px;
}

.news_detail__content figure img {
	border-radius: 5px;
}

.news_detail__content h1.title {
	margin: 27px 0 0;
	font: 30px/35px Calibri-Bold, san-serif;
	color: #3b4c6c;
}

.news_detail__content .details {
	padding: 12px 0;
	border-bottom: 1px solid #efefef;
}

.news_detail__content .details span {
	float: left;
	margin-right: 25px;
	font: 12px/12px Calibri-Regular, san-serif;
	color: #adadad;
	vertical-align: top;
}

.news_detail__content .details span:last-child {margin-right: 0;}

.news_detail__content .details span a {
	color: #adadad;
	transition: color 500ms ease;
}

.news_detail__content .details span a:hover {color: #1e8bcb;}

.news_detail__content .details span i {
	margin-right: 5px;
	color: #1e8bcb;
}

.news_detail__content .text {
	margin-top: 10px;
	font: 14px/20px Calibri-Regular, san-serif;
	color: #444;
	text-align: justify;
}

.news_gallery {
	margin-top: 50px;
}

.news_gallery h2 {
	margin: 0;
	font: 30px/35px Calibri-Bold, san-serif;
	color: #3c3c3c;
}

.news_gallery figure {
	margin-top: 30px;
	overflow: hidden;
}
.news_gallery figure img {
	transition: .3s linear;
}

.news_gallery figure:hover img {
	-webkit-transform:scale(1.05);
	-moz-transform:scale(1.05);
	transform:scale(1.05);
}

.share {
	margin-top: 30px;
}

.share a {
	float: left;
	width: 25px;
	height: 25px;
	font-size: 18px;
	line-height: 27px;
	color: #fff;
	text-align: center;
	margin-right: 10px;
	transition: background 500ms ease;
}

.share a.facebook {background: #3b5791;}
.share a.twitter {background: #00b9ff;}
.share a.linkedin {background: #007bb6;}
.share a.facebook:hover {background: #314978;}
.share a.twitter:hover {background: #00a8e5;}
.share a.linkedin:hover {background: #006a9c;}

.similar_news {
	overflow: hidden;
	border-radius: 5px;
	background-color: #fff;
	box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.07);
}

.similar_news h4 {
	margin: 0;
	font: 22px/1.1 Calibri-Bold, san-serif;
	color: #fff;
	padding: 10px 25px;
	background: #10539c;
}

.similar_news ul {
	padding: 5px 25px 20px;
}

.similar_news ul li {
	padding: 20px 0;
	border-bottom: 1px solid rgba(151,151,151,0.16);
}

.similar_news ul li span {
	display: block;
	margin-bottom: 8px;
	font: 14px/14px Calibri-Regular, san-serif;
	color: #9e9e9e;
}

.similar_news ul li h2 {
	margin: 0;
	font: 14px/16px Calibri-Regular, san-serif;
	color: #acacac;
}

.similar_news ul li h2 a {
	color: #acacac;
	transition: color 500ms ease;
}

.similar_news ul li h2 a:hover {color: #10539c;}
/* News End */

/* Cover */
.cover {
	height: 147px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

/* SearchPage Begin */
.search_page {
	padding: 0 0 45px;
}

.search_page h1 {
	margin: 20px 0 0;
	font: 30px/1.1 Calibri-Bold, san-serif;
	color: #10539c;
}

.search_page .result {
	margin: 26px 0 33px;
	font: 20px/1.1 Calibri-Bold, san-serif;
	color: #696969;
}

.search_page .result em {
	font-weight: normal;
	font-style: normal;
	font-family: Calibri-BoldItalic, san-serif;
	color: #2c6dae;
}

.search_page .result strong {
	font-weight: normal;
	font-style: normal;
	font-family: Calibri-BoldItalic, san-serif;
	color: #10539c;
}

.search_page .list article {
	margin-bottom: 35px;
}

.search_page .list article figure {
	overflow: hidden;
}

.search_page .list article figure img {
	transition: .3s linear;
}

.search_page .list article figure:hover img {
	-webkit-transform:scale(1.05);
	-moz-transform:scale(1.05);
	transform:scale(1.05);
}

.search_page .list article h2 {
	margin: 0;
	font: 16px/1.1 Calibri-Bold, san-serif;
	color: #3f3c3c;
	text-align: justify;
}

.search_page .list article h2 a {
	color: #3f3c3c;
	transition: color 500ms ease;
}

.search_page .list article h2 a:hover {color: #10539c;}

.search_page .list article span.date {
	display: block;
	margin-top: 7px;
	font: 12px/12px Calibri-Regular, san-serif;
	color: #666;
}

.search_page .list article p {
	margin: 35px 0 0;
	font: 14px/16px Calibri-Regular, san-serif;
	color: #3f3c3c;
	text-align: justify;
}
/* SearchPage End */

/* Vacancies Begin */
.vacancies {
	padding-bottom: 50px;
}

.vacancies h1 {
	margin: 27px 0 17px;
	font: 30px/1.1 Calibri-Bold, san-serif;
	color: #10539c;
}

.vtable table.table-bordered {
	margin-bottom: 55px;
	border: none;
}

.vtable table th {
	font: 14px/25px Calibri-Bold, san-serif;
	color: #696969;
	text-align: center;
	text-transform: uppercase;
	border: none!important;
}

.vtable table tbody tr {
	border: 1px solid #dedede;
}

.vtable table tbody tr:nth-child(odd) {background: #fff;}

.vtable table td {
	padding: 15px 30px!important;
	text-align: center;
	font: 14px/14px Calibri-Regular, san-serif!important;
	color: #6e6e6e!important;
	vertical-align: middle!important;
	border: none!important;
}

.vtable table td a.more {
	display: block;
	width: 90px;
	height: 35px;
	margin: 0 auto;
	font: 14px/31px Calibri-Bold, san-serif;
	color: #8f8f8f;
	text-align: center;
	border: 2px solid #1f8ccc;
	border-radius: 5px;
	transition: color, background 500ms ease;
}

.vtable table tr td:last-child {
	padding: 15px 0;
}

.vtable table td a.more:hover {
	background: #1f8ccc;
	color: #fff;
}

.nav_pagination {
	text-align: center;
}

.nav_pagination ul {
	display: inline-block;
	margin-bottom: 0;
}

.nav_pagination ul li {
	float: left;
}

.nav_pagination li.active,
.nav_pagination a {
	display: block;
	min-width: 34px;
	height: 34px;
	padding: 0 3px;
	font: 14px/32px Calibri-Bold, san-serif;
	color: #3a4558;
	text-align: center;
	vertical-align: top;
	border: 1px solid #ddd;
	border-right: 0;
	transition: 0.3s;
}

.nav_pagination li.dotted {
	min-width: auto;
	background: none;
}

.nav_pagination ul li:first-child a {
	border-radius: 3px 0 0 3px;
}

.nav_pagination ul li:last-child a {
	border-right: 1px solid #ddd;
	border-radius: 0 3px 3px 0;
}

.nav_pagination li.active {
	position: relative;
	margin-right: -1px;
	z-index: 5;
	border-color: #428bca;
	background: #428bca;
	color: #fff;
}
.nav_pagination li a:hover {opacity: 0.7;}

.vacancies_detail {
	padding-bottom: 85px;
}

.vacancies_detail h1 {
	margin: 21px 0 17px;
	font: 30px/1.1 Calibri-Bold, san-serif;
	color: #10539c;
}

.vacancies_detail span.view {
	display: block;
	margin-top: 15px;
	font: 14px/14px Calibri-Regular, san-serif;
	color: #6e6e6e;
}

.vacancies_detail a.a_share {
	display: inline-block;
	min-width: 51px;
	height: 20px;
	margin-top: 5px;
	padding: 0 5px;
	font: 11px/20px Calibri-Regular, san-serif;
	color: #fff;
	text-align: center;
	background-color: #4267b2;
	border-radius: 3px;
	transition: background 500ms ease;
}

.vacancies_detail a.a_share:hover {background: #395999;}

.vacancies_detail span.price {
	display: inline-block;
	height: 34px;
	padding: 0 17px;
	font: 20px/34px Calibri-Bold, san-serif;
	color: #fff;
	background-color: #3698d2;
	border-radius: 5px;
}

.vacancies_detail .list {
	margin-top: 25px;
}

.vacancies_detail .list h4 {
	margin: 0 0 28px;
	font: 20px/1.1 Calibri-Bold, san-serif;
	color: #6e6e6e;
}

.vacancies_detail .list ul {
	list-style-position: inside;
	padding-left: 0;
	margin: 0;
}

.vacancies_detail .list ul li {
	margin-bottom: 15px;
	font: 14px/17px Calibri-Regular, san-serif;
	color: #6e6e6e;
}

.cv_send h4 {
	margin: 0;
	font: 20px/1.1 Calibri-Bold, san-serif;
	color: #6e6e6e;
}

.cv_send p {
	margin: 10px 0 0;
	font: 14px/17px Calibri-Regular, san-serif;
	color: #6e6e6e;
}

.vacancies_detail .fileupload {
	position: relative;
	height: 34px;
	margin-top: 15px;
	overflow: hidden;
	font: 14px/32px Calibri-Regular, san-serif;
	color: #6e6e6e;
	text-align: center;
	cursor: pointer;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	transition: 500ms ease;
}


.vacancies_detail .fileupload input.uploadimage {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	display: block;
	margin: 0;
	padding: 0;
	font-size: 0px;
	width:100%;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}

p.fileupload_text {
	margin: 10px 0 0;
	font: 14px/17px Calibri-Regular, san-serif;
	color: #6e6e6e;
}
/* Vacancies End */

/* Insidepage Begin */
.inside_page {
	padding: 0 0 65px;
}

.inside_sidebar {
	padding: 13px 0 50px;
}

.inside_sidebar h3 {
	margin: 0;
	font: 20px/1.1 Calibri-Bold, san-serif;
	color: #0f529c;
}

.side_menu {
	margin-top: 17px;
}

.side_menu a {
	position: relative;
	display: block;
	height: 42px;
	padding: 0 15px;
	font: 14px/42px Calibri-Regular, san-serif;
	color: #696969;
	border-bottom: 1px solid #edeff1;
	transition: background 500ms ease;
}

.side_menu a:after {
	content: "";
	display: block;
	width: 3px;
	background: #278fcc;
	position: absolute;
	top: 0;
	bottom: -1px;
	left: 0;
}

.side_menu a.active,.side_menu a.active:after,.side_menu a:hover {background: #fff;}

/* Partners */
.partners {
	padding: 25px 0 0;
}

.partners ul {
	margin: 0;
	list-style-position: inside;
	padding-left: 0;
}

.partners ul li {
	margin-bottom: 15px;
	font: 14px/17px Calibri-Regular, san-serif;
	color: #6e6e6e;
	text-align: justify;
}

.partners_form h4 {
	margin: 0 0 20px;
	font: 18px/1.1 Calibri-Bold, san-serif;
	color: #54698d;
	text-transform: uppercase;
}

.partners_form .item {
	margin-bottom: 15px;
}

.partners_form label {
	display: block;
	margin-bottom: 6px;
	font: 13px/13px Calibri-Regular, san-serif;
	color: #54698d;
}

.partners_form input[type="text"],
.partners_form select {
	display: block;
	width: 100%;
	height: 33px;
	padding: 0 15px;
	font: 12px/12px Calibri-Regular, san-serif;
	color: #16325c;
	background: #fff;
	border: 1px solid #a8b7c7;
	border-radius: 5px;
}

.partners_form input[type="text"]::-webkit-input-placeholder {color: #16325c;}
.partners_form input[type="text"]::-moz-placeholder {color: #16325c;}

.partners_form select {
	cursor: pointer;
	padding: 0 25px 0 15px;
	background: #fff url(../images/selec-arrow-black.png?v=1) no-repeat right 20px center;
	background-size: 10px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.partners_form button[type="submit"] {
	float: right;
	display: block;
	width: 118px;
	height: 32px;
	margin-top: 2px;
	font: 12px/12px Calibri-Regular, san-serif;
	color: #0070d2;
	text-transform: uppercase;
	background: #fff;
	border: 1px solid #d8dde6;
	border-radius: 5px;
	transition: background 500ms ease;
}

.partners_form button[type="submit"]:hover {background: #e5e5e5;}

.partners_form input[type=checkbox].css-checkbox {position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;}

.partners_form input[type=checkbox].css-checkbox + label.css-label {
	display: inline-block;
	height: 16px;
	margin-top: 10px;
	padding-left: 22px;
	font: 14px/16px Calibri-Regular, san-serif;
	color: #54698d;
	background-repeat:no-repeat;
	background-position: 0 0;
	cursor:pointer;
}

.partners_form input[type=checkbox].css-checkbox:checked + label.css-label {background-position: 0 -16px;}
.partners_form label.css-label {
	background-image:url(../images/icon-checkbox.png?v=1);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.partners_form label.css-label a {color: #54698d; text-decoration: underline;}
.partners_form label.css-label a:hover {text-decoration: none;}
/* Partners End */

/* About Begin */
.about {
	padding: 20px 0 0;
}

.about h1.title {
	margin: 0;
	font: 30px/1.1 Calibri-Bold, san-serif;
	color: #10539c;
}

.about .text {
	padding: 10px 0 0;
	font: 14px/20px Calibri-Regular, san-serif;
	color: #444;
	text-align: justify;
}

.about .text h1,
.about .text h2,
.about .text h3,
.about .text h4,
.about .text h5,
.about .text h6 {
	font-size: 16px;
	font-family: Calibri-Bold, san-serif;
	color: #444;
}

blockquote {
	margin: 30px 0;
	padding: 20px;
	font: 16px/23px Calibri-Regular, san-serif;
	color: #444;
	background: #fff;
	border-left: 3px solid #1e8bcb;
}

.about_blocks {
	padding: 65px 0 5px;
	background: #fff;
}

.about_blocks article {
	float: left;
	width: 100%;
	margin-bottom: 40px;
	padding: 30px 0;
	overflow: hidden;
	border-radius: 5px;
	transition: background, box-shadow 0.8s ease;
}

.about_blocks article:hover {
	background: #f4f6f8;
	box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.23);
}

.about_blocks article i {
	position: relative;
	display: block;
	height: 100%;
}

.about_blocks article i:after {
	content: "";
	display: block;
	width: 84px;
	height: 90px;
	margin: 12px auto;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}

.about_blocks article i.icon1:after {background-image: url(../images/about-1.svg);}
.about_blocks article i.icon2:after {background-image: url(../images/about-2.svg);}
.about_blocks article i.icon3:after {background-image: url(../images/about-3.svg);}
.about_blocks article i.icon4:after {background-image: url(../images/about-4.svg);}

.about_blocks article .text h2 {
	margin: 0 0 5px;
	font: 16px/16px Calibri-Bold, san-serif;
	color: #707070;
	text-transform: uppercase;
}

.about_blocks article .text p {
	margin: 0;
	font: 14px/21px Calibri-Regular, san-serif;
	color: #b3b3b3;
}

.about_blocks article .text ul {
	margin: 0;
	padding-left: 0;
	list-style-position: inside;
}

.about_blocks article .text ul li {
	font: 14px/21px Calibri-Regular, san-serif;
	color: #155ea4;
}

.about_blocks article .text ul li span {color: #b3b3b3;}
/* About End */

/* LeaderAppeal Begin */
.leader_appeal figure img {
	border-radius: 5px;
}

.leader_appeal h1 {
	margin: 0;
	font: 30px/1.1 Calibri-Bold, san-serif;
	color: #10539c;
}

.leader_appeal .text {
	margin-top: 30px;
	font: 16px/20px Calibri-Regular, san-serif;
	color: #444;
	text-align: justify;
}

.leader_appeal .text strong {
	font-weight: normal;
	font-family: Calibri-Bold, san-serif;
}

.leader_appeal span.imza {
	float: right;
	display: block;
	width: 175px;
	height: 55px;
	margin-top: 30px;
	background: url(../images/imza.png?v=1) no-repeat;
}
/* LeaderAppeal End */

/* Reports Begin */
.reports {
	padding: 20px 0 0;
}

.reports h1 {
	margin: 0 0 10px;
	font: 30px/1.1 Calibri-Bold, san-serif;
	color: #10539c;
}

.reports article {
	position: relative;
	float: left;
	width: 100%;
	min-height: 158px;
	margin: 20px 0;
	transition: background, box-shadow 500ms ease;
}

.reports article span.date {
	position: relative;
	float: left;
	display: block;
	width: 31px;
	height: 100%;
	background: #278fcc;
	transition: background 500ms ease;
}

.reports article:hover span.date {background: #1c5ba1;}
.reports article:hover {
	background: #fbfbfb;
	box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.23);
}

.reports article span.date span {
	padding: 0 7px;
	font: 25px/1.1 Calibri-Bold, san-serif;
	color: #fff;
	text-align: center;
	word-break: break-all;
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}

.reports article .body {
	position: relative;
	float: left;
	width: calc(100% - 31px);
	height: 100%;
	padding: 30px 10px 30px 15px;
}

.reports article .body p {
	margin: 0;
	font: 14px/17px Calibri-Regular, san-serif;
	color: #696969;
}

.reports article .body span.pdf {
	display: block;
	position: absolute;
	right: 10px;
	bottom: 10px;
}

.reports article .body span.pdf a {
	display: inline-block;
	padding-right: 28px;
	font: 12px/16px Calibri-Regular, san-serif;
	color: #696969;
	background: url(../images/icon-cloud-download.svg) no-repeat right center;
	background-size: 22px;
}

.reports article .body span.pdf a strong {
	font-family: Calibri-Bold, san-serif;
	color: #d41e00;
}
/* Reports End */

/* Licenses Begin */
.licenses {
	padding: 20px 0 0;
}

.licenses h1 {
	margin: 0 0 30px;
	font: 30px/1.1 Calibri-Bold, san-serif;
	color: #10539c;
}

.licenses article {margin-bottom: 35px;}

.licenses article figure img {width: 100%;}
/* Licenses End */

/* PdfList Begin */
.pdf_list {

}

.pdf_list h1 {
	margin: 0 0 10px;
	font: 30px/1.1 Calibri-Bold, san-serif;
	color: #10539c;
}

.pdf_list article {
	position: relative;
	min-height: 68px;
	margin-top: 12px;
	padding: 13px 94px 13px 35px;
	border-left: 2px solid #296077;
	transition: background, border, box-shadow 500ms ease;
}

.pdf_list article:hover {
	background: #fbfbfb;
	box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.23);
	border-color: #1f8ccc;
}

.pdf_list article h2 {
	margin: 0;
	font: 14px/19px Calibri-Regular, san-serif;
	color: #696969;
}

.pdf_list article span.pdf {
	display: block;
	width: 70px;
	text-align: center;
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
}

.pdf_list article span.pdf a {
	font: 14px/14px Calibri-Bold, san-serif;
	color: #696969;
}

.pdf_list article span.pdf a:hover {opacity: 0.7;}

.pdf_list article span.pdf i {
	display: block;
	width: 33px;
	height: 33px;
	margin: 0 auto 3px;
	background: url(../images/pdf.png?v=1) no-repeat;
}

.pdf_list article span.pdf:before {
	content: "";
	display: block;
	width: 1px;
	position: absolute;
	top: 6px;
	bottom: 6px;
	left: 0;
	background: #e0e0e0;
}
/* PdfList End */

/* Struktur Begin */
.struktur {
	padding: 20px 0 0;
}

.struktur h1 {
	margin: 0 0 30px;
	font: 30px/1.1 Calibri-Bold, san-serif;
	color: #10539c;
}
/* Struktur End */

/* MainNews Begin */
.main_news {
	padding: 100px 0 86px;
	background: #fff;
}

.title_block {
	text-align: center;
}

.title_block h1 {
	margin: 0 0 15px;
	font: 30px/1.1 Calibri-Bold, san-serif;
	color: #3b4c6c;
	text-transform: uppercase;
}

.title_block p {
	margin: 0;
	font: 14px/19px Calibri-Regular, san-serif;
	color: #919db3;
}

.title_block strong {
	font-family: Calibri-Bold, san-serif;
	color: #394a6a;
}

.main_news .news_list {
	margin-top: 35px;
}
/* MainNews End */

/* MainServices Begin */
.main_services {
	padding: 135px 0 108px;
	background: url(../images/oval.svg) no-repeat center bottom -80px;
}

.main_services .title_block {
	margin-bottom: 13px;
}

.main_services article {
	position: relative;
	width: 100%;
	height: 0;
	margin: 0 auto;
	padding: 0 15px;
	padding-top: calc(100% - 30px);
}

.main_services article a {
	position: absolute;
	top: 0;
	left: 15px;
	right: 15px;
	bottom: 0;
	display: block;
	padding: 7px 9px;
	background: #2c398c;
	transition: 500ms ease;
}

.main_services article a:hover {
	background: #1e8bcb;
	box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.23);
}

.main_services article a:before,
.main_services article a:after {
	content: "";
	position: absolute;
	width: 142px;
	height: 136px;
	opacity: 0.4;
	transition: 500ms ease;
}

.main_services article a:before {
	top: 7px;
	right: 9px;
	border-top: 1px solid #fefefe;
	border-right: 1px solid #fefefe;
}

.main_services article a:after {
	bottom: 7px;
	left: 9px;
	border-bottom: 1px solid #fefefe;
	border-left: 1px solid #fefefe;
}

.main_services article a:hover:before,
.main_services article a:hover:after {
	width: 10px;
	height: 10px;
}

.main_services article a figure {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	text-indent: -99999px;
}

#services_carousel .owl-nav {
	margin-top: 13px;
	padding: 0 15px;
	text-align: center;
}

#services_carousel .owl-nav div {
	display: inline-block;
	width: 44px;
	height: 44px;
	margin: 0 10px 0 0;
	cursor: pointer;
	font-size: 0;
	text-align: center;
	line-height: 40px;
	border: 2px solid #a2b1c2;
	border-radius: 5px;
	transition: 500ms ease;
}

#services_carousel .owl-nav div:after {
	font-family: FontAwesome;
	font-size: 30px;
	color: #a2b1c2;
	transition: color 500ms ease;
}

#services_carousel .owl-nav div.owl-prev:after {content: "\f104"}
#services_carousel .owl-nav div.owl-next:after {content: "\f105";}

#services_carousel .owl-nav div:hover {border-color: #4a73b8;}
#services_carousel .owl-nav div:hover:after {color: #4a73b8;}
/* MainServices End */

/* PartnersCarousel Begin */
.partners_carousel {
	height: 145px;
}

.partners_carousel figure {
	width: 100%;
	line-height: 145px;
	text-align: center;
}

.partners_carousel figure img {
	display: inline-block!important;
	width: auto!important;
}
/* PartnersCarousel End */

/* IndexMap Begin */
#map{
	height: 330px;
	overflow: hidden;
}
/* IndexMap End */

/* TextCover */
.text_cover {
	padding: 50px 45px;
	text-align: right;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.text_cover h1 {
	margin: 0;
	font: 30px/1.1 Calibri-Regular, san-serif;
	color: #fff;
	text-transform: uppercase;
}

.text_cover p {
	margin: 11px 0 0;
	font: 16px/24px Calibri-Regular, san-serif;
	color: #fff;
}
/* TextCover End */

/* PIDetail Begin */
.pi_detail {
	padding: 35px 0;
}

.pi_detail h2, .pi_detail h2.title {
	margin: 0;
	font: 30px/1.1 Calibri-Bold, san-serif;
	color: #10539c;
}

.pi_detail h4, .pi_detail h4.title {
	margin: 15px 0;
	font: 30px/1.1 Calibri-Regular, san-serif;
	color: #10539c;
}

.pi_detail .text {
	margin-top: 10px;
	font: 14px/20px Calibri-Regular, san-serif;
	color: #444;
	text-align: justify;
}

.pi_detail .text ul {
	padding-left: 0;
	list-style-position: inside;
}
/* PIDetail End */

/* Application Begin */
.application_form {
	position: relative;
	padding: 29px 33px;
	z-index: 5;
	text-align: center;
	background: #fff;
}

.application_form.bggrey {
	background: #f2f4f7;
}

.application_form h1 {
	margin: 0;
	font: 25px/1.1 Calibri-Bold, san-serif;
	color: #0f529c;
	letter-spacing: 3.3px;
}

.application_form p {
	margin: 10px 0 0;
	font: 12px/15px Calibri-Regular, san-serif;
	color: #616161;
}

.application_form form {
	display: block;
	margin-top: 20px;
}

.application_form input[type="text"] {
	display: block;
	width: 100%;
	height: 34px;
	margin-bottom: 8px;
	padding: 0 15px;
	font: 13px/13px Calibri-Regular, san-serif;
	color: #7b7b7b;
	background-color: #fff;
	border: 1px solid #e6e6e6;
}

.application_form button[type="submit"], .cv_form button[type="submit"] {
	display: block;
	width: 124px;
	height: 40px;
	margin: 14px auto;
	font: 13px/13px Calibri-Bold, san-serif;
	color: #fff;
	letter-spacing: 0.2px;
	background: #1e8bcb;
	border: none;
	border-radius: 3px;
	transition: background 500ms ease;
}

.application_form button[type="submit"]:hover, .cv_form button[type="submit"]:hover {
	background: #0062b3;
}
/* Application End */

/* PIList Begin */
.pi_list {
	float: left;
	width: 100%;
	padding: 45px 0 15px;
}

.pi_list h1 {
	margin: 0 0 25px;
	font: 30px/1.1 Calibri-Regular, san-serif;
	color: #10539c;
}

.pi_list article {
	display: table;
	width: 100%;
	min-height: 75px;
	margin-bottom: 25px;
	padding: 10px;
	text-align: center;
	background: #f4f6f8;
	transition: box-shadow 500ms ease;
}

.pi_list article:hover {
	box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.23);
}

.pi_list article p {
	display: table-cell;
	margin: 0;
	font: 14px/18px Calibri-Regular, san-serif;
	color: #616161;
	vertical-align: middle;
}
/* PIList End */

/* PINumune Begin */
.pi_numune {
	margin-bottom: 40px;
	padding: 30px 0 50px;
	background: #0F519B url(../images/pattern_bg.png?v=1) repeat center;
}

.pi_numune h2 {
	margin: 0;
	font: 16px/1.1 Calibri-Bold, san-serif;
	color: #fff;
}

.pi_numune p {
	margin: 15px 0 0;
	font: 14px/15px Calibri-Regular, san-serif;
	color: #fff;
}

.pi_numune .block {
	margin-top: 40px;
	padding: 0 18px 20px;
	border: 1px solid rgba(255, 255, 255, 0.42);
}

.pi_numune .block p {
	line-height: 18px;
}

.pi_qeyd {
	padding-top: 75px;
	color: #434343;
}

.pi_qeyd p.size-16 {
	font: 16px/17px Calibri-Regular, san-serif;
}

.pi_qeyd p.size-14 {
	font: 14px/15px Calibri-Regular, san-serif;
}
/* PINumune End */

/* PITable Begin */
.pi_table {
	width: 100%;
	margin-bottom: 50px;
}

.pi_table thead {
	background: #0f529c;
	box-shadow: 0 1px 0 0 #d8dde6;
}

.pi_table thead td {
	height: 76px;
	min-width: 370px;
	font: 20px/1.1 Calibri-Bold, san-serif;
	color: #fff;
}

.pi_table td {
	vertical-align: middle;
	padding: 5px 30px;
}

.pi_table tbody td {
	font: 14px/27px Calibri-Regular, san-serif;
	color: #3c3c3c;
	text-align: justify;
}

.pi_table tbody td strong {
	font: 20px/1.1 Calibri-Bold, san-serif;
	color: #0f529c;
}

.pi_table tbody tr:nth-child(2n+1) {
	background: #fff;
	border-top: 1px solid #d9dde6;
}
/* PITable End */

/* Exam Begin */
.exam {
	padding: 30px 0;
	background: #fff;
}

.exam .block {
	margin-bottom: 30px;
}

.exam .block h4 {
	margin: 0 0 18px;
	font: 18px/1.1 Calibri-Regular, san-serif;
	color: #10539c;
}

.exam .block .options {
	padding-left: 15px;
}

.exam .block .options span {
	display: block;
}

.exam .block .options input[type=radio].css-checkbox {position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;}

.exam .block .options input[type=radio].css-checkbox + label.css-label {
	position: relative;
	display: block;
	padding-left: 35px;
	font: 14px/18px Calibri-Regular, san-serif;
	color: #444;
	background-repeat: no-repeat;
	background-position: 0 0;
	cursor: pointer;
}

.exam .block .options input[type=radio].css-checkbox + label.css-label:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	display: block;
	width: 18px;
	height: 18px;
	background: url(../images/radiobox.png?v=1) no-repeat 0 0;
}

.exam .block .options input[type=radio].css-checkbox:checked + label.css-label:before {background-position: 0 -18px;}

.exam .block .options label.css-label {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.exam .block .photo {
	margin-bottom: 20px;
}

.exam .answer {
	padding-top: 45px;
	background: url(../images/lamp.png?v=1) no-repeat right bottom;
}

.exam .answer h2 {
	margin: 0 0 14px;
	font: 30px/1.1 Calibri-Regular, san-serif;
	color: #10539c;
}

.exam .answer .row {
	margin-bottom: 14px;
}

.exam .answer label {
	display: block;
	width: 100%;
	font: 13px/13px Calibri-Regular, san-serif;
	color: #54698d;
}

.exam .answer input[type="text"],
.exam .answer select {
	display: block;
	width: 100%;
	height: 32px;
	padding: 0 20px;
	font: 14px/14px Calibri-Regular, san-serif;
	color: #9e9e9e;
	border: solid 1px #a8b7c7;
	border-radius: 4px;
}

.exam .answer input[type="text"].user {
	background: #fff url(../images/icon-user.png?v=1) no-repeat right 10px center;
}

.exam .answer select {
	float: left;
	padding: 0 10px;
	background: #fff url(../images/arrow-down.png?v=1) no-repeat right 8px center;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.exam .answer select.day {
	width: 60px;
}
.exam .answer select.month {
	width: 78px;
	margin: 0 16px;
}
.exam .answer select.year {
	width: 92px;
}

.exam .answer button[type="submit"] {
	float: left;
	height: 32px;
	padding: 0 15px;
	font: 12px/12px Calibri-Bold, san-serif;
	color: #fff;
	background-color: #16579e;
	border: none;
	border-radius: 4px;
	transition: 500ms ease;
}

.exam .answer button[type="submit"]:hover {
	background: #134a85;
}

.exam_result {
	background-color: #f4f6f8;
	padding: 40px 0 50px;
}

.exam_result h1 {
	margin: 0;
	font: 30px/1.1 Calibri-Regular, san-serif;
	color: #10539c;
}

.exam_result p {
	margin: 8px 0 0;
	font: 16px/20px Calibri-Regular, san-serif;
	color: #444;
	text-align: justify;
}

.exam_result .point {
	width: 100%;
	height: 76px;
	margin-top: 40px;
	padding: 0 40px;
	color: #fff;
	border-radius: 5px;
	background: url(../images/button_bg.png?v=1);
}

.exam_result .point h3 {
	margin: 0;
	font: 16px/76px Calibri-Bold, san-serif;
}

.exam_result .point h3 strong {
	float: right;
	font-size: 40px;
	letter-spacing: 5.3px;
}

.exam_result button[type="submit"] {
	display: block;
	width: 100%;
	height: 76px;
	margin-top: 40px;
    padding: 0 15px;
    font: 28px/28px Calibri-Bold, san-serif;
    color: #fff;
    background-color: #16579e;
    border: none;
    border-radius: 4px;
    transition: 500ms ease;
}

.exam_result button[type="submit"]:hover {
	background: #1a66b8;
}
/* Exam End */

/* PITextBlock */
.pi_text_block {
	padding: 35px 0;
}

.pi_text_block h2.title {
	margin: 0;
	font: 30px/1.1 Calibri-Regular, san-serif;
	color: #10539c;
}

.pi_text_block .text {
	margin-top: 10px;
	font: 16px/20px Calibri-Regular, san-serif;
	color: #444;
}

.pi_text_block .text ul {
	margin: 0;
	padding-left: 0;
	list-style-position: inside;
}

.pi_cedvel.v2 {
	margin-bottom: 25px;
	padding: 30px 0 0;
}

.pi_cedvel.v2 .col-md-2 {
	background: #0f529c;
}

.pi_cedvel {
	padding: 80px 0 0;
}

.pi_cedvel h1 {
	margin: 0 0 25px;
	font: 20px/1.1 Calibri-Bold, san-serif;
	color: #444;
}

.pi_cedvel .col-md-2 {
	height: 75px;
	padding: 20px 0 0;
	background: #59beff;
	box-shadow: 0 1px 0 0 rgba(216, 221, 230, 0.5), 0 -1px 0 0 rgba(216, 221, 230, 0.5);
}

.pi_cedvel h2 {
	margin: 0;
	font: 14px/1.1 Calibri-Regular, san-serif;
	color: #fff;
	text-align: center;
}

.pi_cedvel h4 {
	margin: 0;
	font: 14px/35px Calibri-Bold, san-serif;
	color: #10539c;
	text-align: center;
}

.pi_cedvel p {
	margin: 0;
	height: 40px;
	font: 13px/38px Calibri-Regular, san-serif;
	color: #3c3c3c;
	text-align: center;
	background-color: #f4f6f9;
	box-shadow: 0 1px 0 0 #d8dde6;
}

.count_block {
	min-height: 180px;
	background: #1e8bcb url(../images/pattern_bg.png?v=1) repeat left top;
}

.count_block .block {
	margin-top: 43px;
	padding-left: 95px;
	font: 24px/1.1 Calibri-Regular, san-serif;
	color: #fff;
	background-repeat: no-repeat;
	background-position: left top 11px;
}

.count_block .block:first-child {background-image: url(../images/count-icon1.png?v=1);}
.count_block .block:last-child {background-image: url(../images/count-icon2.png?v=1);}

.count_block strong {
	display: block;
	margin-bottom: 10px;
	font-size: 50px;
}

.pi_tab h1 {
	margin: 0 0 25px;
	font: 30px/1.1 Calibri-Regular, san-serif;
	color: #10539c;
}

.pi_tab_nav a {
	float: left;
	width: 165px;
	height: 39px;
	font: 16px/39px Calibri-Regular, san-serif;
	color: #16325c;
	text-align: center;
	background: #f2f4f8;
	box-shadow: inset 0 1px 0 0 #e0e5ee;
	border-bottom: 2px solid #008af1;
	transition: 500ms ease;
}

.pi_tab_nav a.active {
	background: #fff;
	border-color: #fff;
}

.pi_tab_content {
	margin: 10px 0 30px;
}

.pi_tab_panel {display: none;}
.pi_tab_panel:first-child {display: block;}

.pi_tab_panel table {
	width: 100%;
}

.pi_tab_panel table tr {
	border-bottom: 1px solid #d8dee7;
}

.pi_tab_panel table tr:nth-child(odd) {
	background: #f2f4f8;
}

.pi_tab_panel table td {
	padding: 0 23px;
	font: 13px/28px Calibri-Regular, san-serif;
	color: #3c3c3c;
}

/* FAQ */
.faq h1 {
	margin: 0 0 20px;
	font: 30px/1.1 Calibri-Bold, san-serif;
	color: #34495e;
}

.faq .item {
	position: relative;
	margin-bottom: -1px;
}

.faq .item .head {
	position: relative;
	padding: 10px 0;
	border-top: 1px solid #f9f4f4;
	border-bottom: 1px solid #f9f4f4;
	cursor: pointer;
}

.faq .item .head:after {
	content: "";
	display: block;
	width: 2px;
	height: 12px;
	background: #858585;
	position: absolute;
	right: 10px;
	top: 50%;
	margin-top: -6px;
	transition: 0.3s;
}

.faq .item .head:before {
	content: "";
	display: block;
	width: 12px;
	height: 2px;
	background: #858585;
	position: absolute;
	right: 5px;
	top: 50%;
	margin-top: -1px;
}

.faq .item .head.active:after {
	transform: rotate(90deg);
}

.faq .item .head h2 {
	margin: 0;
	font: 14px/17px Calibri-Bold, san-serif;
	color: #444;
}

.faq .item .body {
	display: none;
	margin-top: 10px;
	font: 14px/19px Calibri-Regular, san-serif;
	color: #444;
}

.pi_table2 {
	width: 100%;
	margin-bottom: 40px;
}

.pi_table2 thead {
	background-color: #0f529c;
	box-shadow: 0 1px 0 0 #d8dde6;
}

.pi_table2 thead th {
	height: 38px;
	padding: 0 25px;
	font: 14px/38px Calibri-Bold, san-serif;
	color: #fff;
}

.pi_table2 tbody tr {
	border-bottom: 1px solid #d8dde6;
}

.pi_table2 tbody tr:nth-child(odd) {
	background: #f2f4f8;
}

.pi_table2 tbody td {
	padding: 15px 5px;
	font: 14px/14px Calibri-Regular, san-serif;
	color: #3c3c3c;
}

.pi_table2 tbody td.first_td {
	width: 100px;
	font: 18px/21px Calibri-Regular, san-serif;
	color: #353535;
	text-align: center;
	background: #fff;
}

.istiqraz_list {
	padding: 35px 0 0;
}

.istiqraz_list .row {
	margin-bottom: 35px;
}

.istiqraz_list h2 {
	margin: 0 0 10px;
	font: 18px/22px Calibri-Bold, san-serif;
	color: #444;
}

.istiqraz_list h2 a {color: #444;}
.istiqraz_list h2 a:hover {opacity: 0.7;}

.istiqraz_list p {
	margin: 0;
	font: 14px/20px Calibri-Regular, san-serif;
	color: #444;
	text-align: justify;
}

.istiqraz_table {
	width: 100%;
	margin-top: 60px;
}

.istiqraz_table tr {
	border-bottom: 1px solid #d8dde6;
}

.istiqraz_table tbody tr:nth-child(odd) {
	background: #f4f6f9
}

.istiqraz_table th {
	padding: 0 15px;
	font: 14px/38px Calibri-Bold, san-serif;
	color: #10539c;
	text-align: center;
}

.istiqraz_table td {
	padding: 0 15px;
	font: 14px/38px Calibri-Regular, san-serif;
	color: #3c3c3c;
}

.istiqraz_table td:first-child {
	font-family: Calibri-Bold, san-serif;
	text-align: right;
}

.data_table {
	width: 100%;
	margin: 20px 0 15px;
}

.data_table h1 {
	margin: 0 0 24px;
	font: 30px/1.1 Calibri-Regular, san-serif;
	color: #10539c;
}

.data_table p {
	margin: 0 0 25px;
	font: 16px/20px Calibri-Regular, san-serif;
	color: #444;
	text-align: justify;
}

.data_table table {
	width: 100%;
}

.data_table table thead {
	background-color: #0f529c;
	box-shadow: 0 1px 0 0 #d8dde6;
}

.data_table table th {
	padding: 0 20px;
	font: 14px/28px Calibri-Bold, san-serif;
	color: #fff;
}

.data_table table.text-center th {
	padding: 8px 20px;
	line-height: 17px;
	text-align: center;
}

.data_table tbody tr {
	border-bottom: 1px solid #d8dde6;
}

.data_table tbody tr:nth-child(even) {
	background: #f2f4f8;
}

.data_table table td {
	padding: 0 20px;
	font: 13px/28px Calibri-Regular, san-serif;
	color: #3c3c3c;
	box-shadow: 0 1px 0 0 #d8dde6;
}

.data_table table.text-center td {
	padding: 0 10px;
}

p.p_qeyd {
	margin: 0;
	padding: 15px;
	font: 14px/20px Calibri-Regular, san-serif;
	color: #4b4b4b;
}

.partners_photo {
	text-align: right;
}

.ta_block article {
	min-height: 335px;
	padding: 30px 20px 20px;
	text-align: center;
	color: #fff;
	background: #1e8bcb;
}

.ta_block article h2 {
	margin: 0 0 20px;
	font: 25px/30px Calibri-Bold, san-serif;
	color: #fff;
}

.ta_block article p {
	font: 14px/15px Calibri-Regular, san-serif;
	color: #fff;
}

.ta_block article h4 {
	margin: 15px 0;
	font: 14px/18px Calibri-Bold, san-serif;
	color: #fff;
}

.ta_qeyd {
	padding-top: 10px;
}

.ta_qeyd p {
	margin: 10px 0 0;
	font: 14px/18px Calibri-Regular, san-serif;
	color: #3c3c3c;
}

.xut_list {
	padding: 20px 0 0;
}

.xut_list h1 {
    margin: 0 0 10px;
    font: 30px/1.1 Calibri-Bold, san-serif;
    color: #10539c;
}

.xut_list article {
	position: relative;
	height: 158px;
	margin: 25px 0 7px;
	background-color: #f4f6f8;
	box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 -1px 0 0 rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	transition: 500ms ease;
}

.xut_list article:hover {
	background-color: rgba(255, 255, 255, 0.7);
	box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.1);
}

.xut_list article .body {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	z-index: 5;
	padding: 0 30px;
	text-align: center;
	transform: translateY(-50%);
	transition: 500ms ease;
}

.xut_list article .body h2 {
	margin: 0;
	font: 18px/21px Calibri-Bold, san-serif;
	color: #696969;
	transition: 500ms ease;
}

.xut_list article .body a {
	display: block;
	width: 118px;
	height: 32px;
	margin: 0 auto ;
	font: 12px/30px Calibri-Regular, san-serif;
	color: #2987ca;
	text-align: center;
	border: 1px solid #d8dde6;
	border-radius: 4px;
	transition: 500ms ease;
}

.xut_list article:hover .body h2 {
	color: #2987ca;
}

.xut_list article .body span {
	display: block;
	height: 0px;
	margin-top: 10px;
	overflow: hidden;
	visibility: hidden;
	opacity: 0;
	transition: 500ms ease;
}

.xut_list article:hover .body span {
	height: 32px;
	visibility: visible;
	opacity: 1;
}

.chart_block_full {
	padding: 35px 0 80px;
}

.chart_block_full p {
	font: 16px/20px Calibri-Regular, san-serif;
	color: #444;
	text-align: justify;
}

.chart_block_full img {
	margin-top: 15px;
}

.chart_other {
	padding: 70px 0 50px;
}

.chart_other .block h2 {
	margin: 0 0 25px;
	font: 20px/33px Calibri-Bold, san-serif;
	color: #40699c;
}

.chart_other .blockquote {
	position: relative;
}

.chart_other .blockquote p {
	margin: 30px 0;
	font: 16px/20px Calibri-Regular, san-serif;
	color: #616161;
	text-align: justify;
}

.chart_other .blockquote:before,
.chart_other .blockquote:after {
	content: "";
	display: block;
	width: 55px;
	height: 43px;
	background: url(../images/dirnag.png?v=1) no-repeat center;
}

.chart_other .blockquote:after {
	float: right;
	transform: rotate(-180deg);
}

img.imgchart {
	border: 1px solid #f4f5f7;
	border-radius: 3px;
	box-shadow: 0 20px 30px 0 rgba(35, 36, 37, 0.1);
}

.chat_text {
	padding-top: 30px;
	padding-bottom: 30px;
}

.chat_text p {
	font: 16px/20px Calibri-Regular, san-serif;
	color: #444;
	text-align: justify;
}

.chat_text span {
	display: block;
	margin: 20px 0;
	font: 12px/20px Calibri-Regular, san-serif;
	color: #9c9c9c;
}

.error404 {
	padding: 50px 0;
}

.error404 h1 {
	margin: 0 0 48px;
	font: 40px/1.1 Calibri-Bold, san-serif;
	color: #3b4c6c;
}

.error404 img {
	margin-bottom: 45px;
}

.error404 p {
	margin: 0;
	font: 14px/22px Calibri-Regular, san-serif;
	color: #acacac;
}

.error404 p a {color: #417ed9;}
.error404 p a:hover {text-decoration: underline;}

#chartdiv,#chartdiv1 {height: 500px;}


/* Popup Begin */
.popup {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9999;
	display: none;
	background: rgba(0,0,0,0.7);
}

.popup_inner {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 480px;
	max-height: 100vh;
	padding: 45px 45px 115px;
	overflow-y: auto;
	background: #fff;
	-webkit-box-shadow: 7px 7px 41px 0px rgba(0,0,0,0.14);
	-moz-box-shadow: 7px 7px 41px 0px rgba(0,0,0,0.14);
	box-shadow: 7px 7px 41px 0px rgba(0,0,0,0.14);
}

.popup_inner:after {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 5;
	height: 70px;
	background: #0f529c;
}

.popup_inner:before {
	content: "";
	display: block;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0px;
	z-index: 7;
	height: 120px;
	background: url(../images/bg-popup.png?v=1) no-repeat left top;
	opacity: 0.4;
}

.popup_inner .closed {
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 50;
	width: 26px;
	height: 26px;
	background: url(../images/icon-popup-close.png?v=1) no-repeat;
	cursor: pointer;
}

.popup_inner .form h2 {
	margin: 0;
	font: 20px/1.3 Calibri-Bold, san-serif;
	color: #0f529c;
	text-align: center;
}

.popup_inner .form h3 {
	margin: 5px 0 0;
	font: 14px/1.3 Calibri-Light, san-serif;
	color: #0f529c;
	text-align: center;
}

.popup_inner .form input[type="text"] {
	display: block;
	width: 100%;
	height: 42px;
	margin-top: 19px;
	padding: 0 10px;
	font: 14px/14px Calibri-Regular,san-serif;
	color: #a6a6a6;
	outline: 0;
	background: #fff;
	border: 1px solid #d7d7d7;
	border-radius: 3px;
	transition: color 800ms ease;
}

.popup_inner .form input[type="text"]::-webkit-input-placeholder {color: #a6a6a6;}
.popup_inner .form input[type="text"]::-moz-placeholder {color: #a6a6a6;}

.popup_inner .form input[type="text"]:focus {
	border-color: #0f529c;
	color: #0f529c;
}

.popup_inner .form input[type="text"]:focus::-webkit-input-placeholder {color: #0f529c;}
.popup_inner .form input[type="text"]:focus::-moz-placeholder {color: #0f529c;}

.popup_inner .form input[type="text"].err, .answer input[type="text"].err{
	border-color: #c11d1d;
}

.popup_inner .form button[type="submit"] {
	display: block;
	width: 194px;
	height: 46px;
	margin: 25px auto 0;
	font: 14px/14px Calibri-Bold, san-serif;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 0.6px;
	background: #0f529c;
	border: none;
	border-radius: 3px;
	transition: background 800ms ease;
}

.popup_inner .form button[type="submit"]:hover {background: #0d4682;}

.popup_inner .form_success, .vacancies_detail .form_success{
	position: relative;
	padding: 70px 0;
}

.popup_inner .form_success:before, .vacancies_detail .form_success:before {
	content: "";
	display: block;
	position: absolute;
	right: -45px;
	bottom: 0;
	left: -45px;
	top: -45px;
	background: url(../images/bg-popup.png?v=1) no-repeat left top;
	opacity: 0.6;
}

.popup_inner .form_success i, .vacancies_detail .form_success i {
	display: block;
	width: 108px;
	height: 113px;
	margin: 0 auto;
	background: url(../images/icon-success.png?v=1) no-repeat;
}

.popup_inner .form_success h2, .vacancies_detail .form_success h2 {
	margin: 20px 0 0;
	font: 20px/1.3 Calibri-Bold, san-serif;
	color: #0f529c;
	text-align: center;
}

.popup_inner .form_success p, .vacancies_detail .form_success p {
	margin: 10px 0 0;
	font: 20px/22px Calibri-Regular, san-serif;
	color: #0f529c;
	text-align: center;
}

.tab_list_unstyled ul{
	padding-left: 0;
	list-style: none;
}


/* ChartHead Begin */
.chart_head {
	padding: 10px 10px 10px 50px;
}

.chart_head ul {
	margin: 0;
}

.chart_head ul li {
	position: relative;
	float: left;
	margin-right: 20px;
	padding-left: 15px;
	font: 18px/16px Calibri-Regular, san-serif;
}

.chart_head ul li.clr1 {color: #0074b8;}
.chart_head ul li.clr2 {color: #c04dd8;}

.chart_head ul li:before {
	content: "";
	display: block;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	position: absolute;
	left: 0;
	top: 5px;
}

.chart_head ul li.clr1:before {background: #0074b8;}
.chart_head ul li.clr2:before {background: #c04dd8;}
/* ChartHead End */

span.span {
	display: block;
	float: left;
	width: 100%;
}

.error-item input[type="text"], .error-item textarea {
	border-color: #c23934;
	box-shadow: none !important;
}

.error-item .label-item, .error-item .label-item a{
	color: #c23934 !important;
}

span.span label.error, .popup_inner label.error {
	display: block;
	font: 16px/18px Calibri-Regular, san-serif;
	color: #c11d1d;
}

span.span label.ok {
	display: none;
}